@import url('https://fonts.googleapis.com/css2?familyInter&display=swap');

body{
    margin: 0;
    background-color: #E6E6E6;
    font-family: 'Inter',sans-serif;

}
/*  Titulo principal */
main h1{
    color: #E30613;
    background-color: #FFF;
    width: 70vw;
    padding: 16px;
    font-weight: bold;
    margin-left: 15vw;
    margin-right: 15vw;
}

/*  Subtitulo, dos tópicos */
main h2{
    color: #000;
    font-weight: bold;
}

/* Div de cada tópico */
.conteudo-main{
    background-color: #FFF;
    width: 70vw;
    margin-top: 2vw;
    margin-left: 15vw;
    margin-right: 15vw;
    padding: 16px;
    overflow: hidden;
}

/* discrição dos tópicos */
main p {
    margin: 40px 5vw;
    color: #282828;
    font-size: 18px;
    line-height: 1.4em;
    font-weight: 300;
}

/*css da primeira opção de fotos dos integrantes*/
#fotos_integrantes{
    display: flex;
    color: white;
    font-size: 25px;
    text-align: center;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-around;
}

@media only screen and (max-width: 1350px){
    #fotos_integrantes{
    display: flex;
    flex-wrap: wrap;
    }
}
